/* Reste 
 
 Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
ul, li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 0;
  margin: 0; }

html, body {
  scroll-behavior: smooth !important; }

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
/* Main App */
.app {
  background: linear-gradient(to bottom, #019486 50%, #555 50%);
  height: 100vh; }

.card-form {
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: calc(8px + 2vh);
  padding-bottom: calc(10px + 4vh); }
  .card-form .forget-pass {
    text-align: center; }

.app-title {
  text-align: center;
  color: #ffffff99;
  font-family: Courier; }

.or {
  position: relative;
  width: 100%;
  text-align: center;
  color: #555; }
  .or::before {
    content: "";
    position: absolute;
    width: 45%;
    top: 50%;
    left: 0;
    height: 2px;
    background: linear-gradient(to left, #ffffff00, #555);
    z-index: 1; }
  .or::after {
    content: "";
    position: absolute;
    width: 45%;
    top: 50%;
    right: 0;
    height: 2px;
    background: linear-gradient(to right, #ffffff00, #555); }

input, button, .btn-new-account {
  padding: 10px 5px;
  border-radius: 5px;
  outline: none;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.new-account {
  text-align: center;
  padding-top: 10px; }
  .new-account .btn-new-account {
    background: #555;
    color: #fff; }

/* Login */
.login {
  max-width: calc(500px + 50vh);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  font-family: Courier; }
  .login .form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 350px;
    height: 70vh; }
  .login .form h3 {
    color: #94adff;
    text-align: center; }
  .login .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; }
  .login .btn-submit {
    background: #94adff;
    color: #fff;
    font-size: 18px;
    outline: none; }
  .login .btn-submit:hover {
    background: #5f84ff; }

/*# sourceMappingURL=style.css.map */
